---
import Angular from "../icons/Angular.astro";
import Astroicon from "../icons/Astroicon.astro";
import Boostrap from "../icons/Boostrap.astro";
import CSS from "../icons/CSS.astro";
import Django from "../icons/Django.astro";
import Html from "../icons/Html.astro";

import JavaScript from "../icons/JavaScript.astro";
import Mysql from "../icons/Mysql.astro";
import Python from "../icons/Python.astro";
import Tailwind from "../icons/Tailwind.astro";
---

<nav class="flex flex-row justify-center gap-x-5 xl:gap-x-10 opacity-80">
  <ul class="flex flex-col justify-center items-center gap-y-2 text-center">
    <h2 class="mb-5 font-bold text-2xl text-green-300">Frontend</h2>

    <ul
      class="flex md:flex-row lg:flex-row xl:flex-row flex-col gap-y-2 text-white"
    >
      <li><Html class="size-20">HTML</Html></li>
      <li><CSS class="size-20" />CSS</li>
      <li><JavaScript class="size-20" />JavaScript</li>
    </ul>
    <ul
      class="flex md:flex-row lg:flex-row xl:flex-row flex-col gap-y-2 text-white"
    >
      <li><Boostrap class="size-20" />Boostrap</li>
      <li><Tailwind class="size-20" />Tailwind</li>
      <li><Astroicon class="size-20" />Astro</li>
      <li><Angular class="size-20" />Angular</li>
    </ul>
  </ul>

  <ul class="flex flex-col items-center gap-y-2 text-center text-white">
    <h2 class="mb-5 font-semibold text-2xl text-green-300">Backend</h2>

    <li><Python class="size-20" />Python</li>
    <li><Django class="size-20" />Django</li>
  </ul>

  <ul class="flex flex-col gap-y-2 text-center text-white">
    <h2 class="mb-5 font-semibold text-2xl text-green-300">DB</h2>
    <li><Mysql class="size-20" />MySQL</li>
  </ul>
</nav>
