---
import "@fontsource/onest/400.css";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Header from "../components/Header.astro";
import type { languageList } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";

const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<!doctype html>
<html lang="{currentLang}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{translateLabels("meta.title")}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <Analytics />
  </head>
  <body class="bg-neutral-950">
    <div
      class="top-0 z-[-2] absolute bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] bg-neutral-950 w-full h-full"
    >
    </div>
    <SpeedInsights />
    <Header />
    <slot />
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }
  html {
    scroll-behavior: smooth;
    font-family:
      system-ui,
      -apple-system;
  }

  body {
    font-family: "Onest";
    background-color: #142635;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
</style>
